   .App {
    padding-left: 0;
    margin: 0;
  } 
  body::-webkit-scrollbar{
    width: 0.5rem;
  }
  body::-webkit-scrollbar-thumb{
    background: #bcd1e9;
  }
  body::-webkit-scrollbar-track{
    background: #1e1e24;
  }
  body div::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
  }
  body div::-webkit-scrollbar-thumb{
    background: #bcd1e9;
  }
  body div::-webkit-scrollbar-track{
    background: #1e1e24;
  }
.page-element{
  display: flex;
  Flex-direction: column;
  Min-height: 100vh;
}
.wrap{
  margin-top: 20vh;
  Flex:1 ;
  margin-left: 14vh;
}
/* foot{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font: small-caps bold 24px/1 sans-serif;
  min-height: "30vh";
  padding-top:5px ;
  padding-bottom: 10px ;
  background: gray;
  color: black;
  margin-top: auto;
}
footerL{
  display: list-item;
  justify-content: start;
  min-height: "10vh";
  padding-bottom: 10px;
  padding-top: 5px;
  margin-top: auto;
  padding-left: 20px;
  background: dimgrey;
  color: black;
  font: caption;
  border: blueviolet;
}
footerR{
  display: flex;
  justify-content: center;
  min-height: "10vh";
  background: dimgrey;
  margin-top: auto;
  color: black;
  font: caption;
  border: blueviolet;
} */
.copyright{
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: rgb(251, 253, 255);
  min-height: "100%";
}
.choose-form{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}



