   .App {
    padding-left: 0;
    margin: 0;
  } 
  body::-webkit-scrollbar{
    width: 0.5rem;
  }
  body::-webkit-scrollbar-thumb{
    background: #bcd1e9;
  }
  body::-webkit-scrollbar-track{
    background: #1e1e24;
  }
  body div::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
  }
  body div::-webkit-scrollbar-thumb{
    background: #bcd1e9;
  }
  body div::-webkit-scrollbar-track{
    background: #1e1e24;
  }
.page-element{
  display: flex;
  Flex-direction: column;
  Min-height: 100vh;
}
.wrap{
  margin-top: 8vh;
  Flex:1 ;
  margin-left: 14vh;
}
.copyright{
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: rgb(251, 253, 255);
  min-height: "100%";
}
.choose-form{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}



