.copyright{
    padding: 2px;
    margin: 0;
    text-align: center;
    background-color: rgb(251, 253, 255);
    min-height: "100%";
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 500;
  } 
  .copyright a{
    padding: 6px;
  }
.footer-wrap{
  font-family: "Montserrat", sans-serif
}
.icon:hover{
  text-decoration: none;
}