.headd{
    text-align: center;
    font-family: 'Cinzel', serif;
    align-content: center;
    justify-content: center;
  }

 .navbar{
  font-family: 'Cinzel', serif;
  justify-content: center;
  text-align: right;
  align-content: center;
  
 } 
.nav-element{
  padding: 0.5rem;
  

}
.help-line{
  font-family: 'Rubik', sans-serif;
  justify-content: center;
  text-align: center;
  align-content: center;
}
@media only screen and (max-width: 600px) {} 
@media only screen and (min-width: 600px) {}
