.headd{
    margin-top: 1rem;
    text-align: center;
    font-family: 'Cinzel', serif;
    align-content: center;
    justify-content: center;
  }

 .navbar{
  font-family: 'Cinzel', serif;
  justify-content: center;
  text-align: left;
  align-content: center;
  
 } 
 .nav{
   width: 100%;
   text-align: left;
 }
.nav-element-right{
  text-align: right;
}
.nav-element{
  padding: 0.5rem;
}
.help-line{
  margin-top: 1rem;
  font-family: 'Rubik', sans-serif;
  justify-content: center;
  text-align: center;
  align-content: center;
}
@media only screen and (max-width: 600px) {} 
@media only screen and (min-width: 600px) {}
